/* Секция 1 */

.main__recommendation {
	margin-bottom: 80px;
}

.main__recommendation-list {
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  	gap: 32px 24px;
	justify-content: start;
	justify-items: center; 
}

.main__recommendation-card {
	width: 100%;
	max-width: 300px;
}

.main__recommendation-card-image {
	border-radius: 4px;
	transition: var(--transition);
}

.main__recommendation-card-image:hover {
    transform: scale(1.01);
}

.main__recommendation-card-image:active {
    transform: scale(0.99);
    opacity: 0.9;
}

.main__recommendation-card-title {
	margin: 8px 0 6px 0;
}

.main__recommendation-card-title a {
	display: block;
	color: var(--color-text-card-btn-orange);
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	transition: var(--transition);
}

.main__recommendation-card-title a:hover {
	opacity: 0.7;
}

.main__recommendation-card-title a:active {
    transform: scale(0.99);
    opacity: 0.9;
}

.main__recommendation-card-title a:focus-visible {
    outline: var(--focus-visible);
}

.main__recommendation-card-price {
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 6px 0;
	color: var(--color-black-blue);
}

.main__recommendation-card-adres,
.main__recommendation-card-time {
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: var(--color-input-text-grey);
	margin: 0;
}
