:root {
	--color-black-blue: #1e293b;
	--color-text-card-btn-orange: #F6673B;
	--color-input-text-grey: #64748b;
	--color-solid: #e2e8f0;
	--color-light: #ffffff;
	--color-black: #000000;

	--container-width: 1300px;
	--container-padding-x: 15px;

	--transition: transform 0.2s ease;

	--focus-visible: 2px solid var(--color-text-card-btn-orange);
}