// Переменные

	$background-color-header-top: #1e293b;
  $color-header-text-title: #1e293b;
	$color-price: #1e293b;

  $color-primary: #3C84F6;
	$color-button: $color-primary;
  $color-text-card: $color-primary;

	$color-secondary-text: #64748b;
  $color-placeholder: $color-secondary-text;
  $color-card-location: $color-secondary-text;
	$color-input-outline: $color-secondary-text;

	$color-border-line: #e2e8f0;

	$color-light: #ffffff;
	$color-black: #000000;

	$container-width: 1300px;
	$container-padding-x: 15px;

	$transition: transform 0.2s ease;

	$focus-visible: 2px solid $color-primary;
